body {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: white;
    background: url(https://source.unsplash.com/user/erondu/1600x900);
    background-size: cover;
}

canvas {
    border: 30px solid #196e68;
    border-radius: 10px;
    /* Set the width and height to half the actual size so it doesn't look pixelated */
    width: 800px;
    height: 500px;
    background: white;
}

canvas.shake {
    animation: shake 0.5s linear 1;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}