body {
  min-height: 100vh;
  background: white;
  background: url(https://source.unsplash.com/user/erondu/1600x900);
  background-size: cover;
}

h2 {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 0;
  margin-bottom: 1rem;
}

canvas {
  border: 30px solid #393160;
  border-radius: 10px;
  width: auto;
  height: 75vh;
  background: #fffafa;
}

canvas.shake {
  animation: shake 0.5s linear 1;
}

.btn {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
}

.shake:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #3369ff;
  border-color: #3369ff;
}

.buttons {
  display: flex;
}

.action--buttons {
  display: none;
}

@media all and (max-width: 37.5em) {
  canvas {
    width: 100%;
    max-width: 85vw;
    height: auto;
  }
  .action--buttons {
    display: block;
  }
}

@media all and (max-width: 30em) {
  a.button5 {
    display: block;
    margin: 0.4em auto;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
